* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html {
  font-size: 62.5%;
}

.mainMenu {
  background-color: silver;
}

.mainMenu h2 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
}

.mainMenu ul {
  padding: 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
}

.mainMenu ul li {
  padding: 0.1rem 0.8rem;
}

.mainMenu ul li a {
  text-decoration: none;
  font-size: 2.2rem;
  color: #172f4f;
}

.mainMenu ul li:hover {
  background-color: white;
  transition: 0.9s;
}

/* Slide-show for home page */
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 85vh;
}

.about-section {
  text-align: center;
  background: #172f4f;
  padding: 4rem;
  color: white;
}

.about-h1 {
  font-size: 3rem;
}

.about-paragraph {
  font-size: 2.5rem;
  text-align: justify;
}

.bottom {
  background-color: silver;
  padding: 1rem;
  text-align: center;
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
  width: 3.5rem;
  height: 3.5rem;
  margin: 2.3rem;
  display: inline-block;
  /* margin-right: auto;
  margin-left: auto; */
}

.copyright {
  text-transform: uppercase;
  font-size: 2rem;
  margin-left: 1rem;
}

/* End of Home page */
/* Product Page */
.product-title,
.product-text {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 2.2rem;
}

.loading-message {
  font-size: 4rem;
  margin: 1rem;
}

.grid {
  margin: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7.5rem;
}

.grid > article {
  background: #f3f3f3;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.6rem 0 rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  text-align: center;
  width: 25rem;
  transition: transform 0.3s;
}

.grid > article:hover {
  transform: translateY(5px);
  box-shadow: 0.2rem 0.2rem 2.6rem 0 rgba(0, 0, 0, 0.3);
}

.grid > article .product-img {
  width: 100%;
  border-top-left-radius: 2rem;
}

.product-description {
  padding: 0 2rem 2rem;
  font-size: 1.9rem;
  line-height: 2.7rem;
}

.grid > article {
  text-align: center;
}

.label-prices {
  position: relative;
  color: navy;
  font-size: 2rem;
}

// input radio buttons
.filter-input {
  margin: auto;
  width: 50%;
  padding: 1rem;
  text-align: center;
}

/* End of products page */
/* Contact page */

.contact-form {
  width: 85%;
  max-width: 60rem;
  position: absolute;
  top: 50%;
}

.form-container {
  min-height: 70vh;
  margin: 4rem;
}

.submit-form {
  position: relative;
  bottom: 0.1rem;
  max-width: 35rem;
  margin: 1rem auto;
  border: 0.3rem solid #3e3d5e;
  padding: 1rem;
}

input,
label,
textarea {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.9rem;
  font-size: 1.5rem;
}

.contact-text,
.contact-request {
  text-align: center;
  line-height: 2.5rem;
  font-size: 2rem;
}

.submit-button {
  border: none;
  text-transform: uppercase;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 90%;
}

textarea {
  resize: none;
}

/* End of contact page */
/* Media Querie for Nav-bar */
/*  */
@media only screen and (max-width: 76.7rem) {
  nav ul {
    height: 10rem;
    flex-direction: column;
    text-align: center;
  }

  /* ------------------------------------- */
}
/* Media Queries for product page */
@media (max-width: 76.8rem) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 50rem) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
